name: Deploy Automático Henry Cloud

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Atualizar Servidor
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_IP }}
          username: ${{ secrets.AWS_USER }}
          key: ${{ secrets.AWS_SSH_KEY }}
          script: |
            # Entrar na pasta raiz do repositório na AWS
            cd ~/gerenciador-rep || cd ~
            git pull origin main
            
            # Entrar na pasta correta 'site' (em vez de client)
            cd site
            npm install
            npm run build
            
            # Reiniciar o serviço
            pm2 restart api-henry || echo "Processo não encontrado"